/* Шрифты:
        Логотип:
font-family: 'Raleway', sans-serif;
font-weight: 700; 

font-family: 'Roboto', sans-serif;
font-weight: 400, 500, 900;

    Цветовая палитра:
Лого:
color: #000000;
color: #2196F3;

color: #212121;
color: #757575;
color: #FFFFFF;
color: rgba(255, 255, 255, 0.6);
color: #2F303A;
color: #F5F4FA;
*/
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --logo-header-color: #000000;
    --logo-span-color: #2196F3;
    --logo-footer-color: #ffffff;
    --hero-main-color: #ffffff;
    --direction-link-color:#ffffff;
    --hover-color: #2196F3;
    --hover-filter-color: #ffffff;
    --title-color: #212121;
    --p-text-color:#757575;
}

body{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
    color: var(--p-text-color);
}
h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}

.list{
    list-style: none;

}
a{
    text-decoration: none;

}
address{
    font-style: normal;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
                    /* HEADER */
.link{
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header .container{
    display: flex;
    justify-content: space-between;

}
/* Navigation */
.navigation{
    display: flex;
    align-items: center;
}
/* Логотип */
.logo.link{
    margin-right: 85px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-header-color);
}

.logo-span{
    color: #2196F3;
}
/* Navigation-list+Address */
ul .navigation-link,
ul .header-mail.link,
ul .header-tel.link{
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation-list{
    display: flex;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}
/* Navigation-link */
.navigation-list-item:not(:last-child){
   margin-right: 50px; 
}

ul .navigation-link{
    color: var(--title-color);
}
ul .current{
    color: #2196F3;
}

ul .navigation-link:hover,
ul .navigation-link:focus{
    color: var(--hover-color);
}
/* Address-link */
.header-list{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header-list-item:not(:last-child){
    margin-right: 50px;
}
ul .header-mail,
ul .header-tel{
    color: var(--p-text-color);
}
ul .header-mail:hover,
ul .header-tel:hover{
    color: var(--hover-color);
}
ul .header-mail:focus,
ul .header-tel:focus{
    color: var(--hover-color);
}

                        /* MAIN */
/* Hero section */
.hero{
    background-color: rgba(47, 48, 58, 0.8);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-img.jpg);
    background-size: cover;
    max-width: 1600px;
}
.hero-container{
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 213px;
    padding-bottom: 200px;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 45px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-main-color); 
}
.hero-button{
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    font-style: 400;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-main-color);
}
/* FEATURES */
section .container{
    padding-top: 94px;
    justify-content: center;
}
.list.features{
    display: flex;
    justify-content: space-between; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;   
}
.list-item>img{
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background: #F5F4FA;
    border-radius: 4px;
}

.list-item{
    width: 270px;
}
.list-title{
    margin-top: 55px;
    margin-bottom: 10px;
}

.list-item .list-title,
b {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}

.list-item>.features-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 0;
}
/* Чем мы занимаемся */

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}
.direction-list{
    display: flex;
    /* justify-content: space-between; */
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
}
.direction-link img{
    display: block;
}
.direction-list-item:not(:last-child){
    margin-right: 30px;
}
.direction-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--direction-link-color);
}

/* Наша команда */
.our-team-section .container{
    padding-bottom: 94px;
    /* margin-top: 94px; */
    justify-content: center;
}
.container .section-title{
    /* padding-top: 94px; */
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    justify-content: space-between; 
    padding-left: 0;

    /* margin-top: 0;
    margin-bottom: 0; */
}
.list-title{
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-list-item {
    background: #FFFFFF;
/* material shadow v1 */
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item p{
    margin-top: 0;
    margin-bottom: 16px;
}
.our-team-section{
    background-color: #F5F4FA;
}

.team-list-item>.list-title,
.team-list-item p{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-list-item>.list-title{
color: #212121;
}
.team-list-item p{
color: var(--p-text-color);
}
a .social-link:hover,
a .social-link:focus{
    color: var(--hover-color);
}
.social-link{
    display: block;
    padding: 12px;
}
.social-link-list{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
}
/* Постоянные клиенты */
.section .container{
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}
.section-container .section-title{
    margin-bottom: 50px;
}
.clients-list-item{
    border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
}
.clients-list-link{
    display: block;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 19px;
    padding-bottom: 19px;
}
ul .clients-list-link:hover,
ul .clients-list-link:focus{
    color: var(--hover-color);
}
                    /* FOOTER */
footer{
    background-color: #2F303A;
}
footer .container{
    display: flex;
    /* margin-top: 94px; */
    padding-bottom: 60px;
    padding-top: 72px;
}
.footer-address-div{
    margin-right: 69px;
}
.footer-address-div .logo{
    /* padding-top: 60px; */
    padding-bottom: 0;
    margin-bottom: 20px;
}
footer .logo.link{
    padding-top: 0px;
}
.logo-text{
    color: var(--logo-footer-color);
}
.footer-address-list{
    padding-left: 0;
}
ul .footer-address-link{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--direction-link-color);
}
ul .footer-address-mail,
ul .footer-address-tel{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

ul .footer-address-mail:hover,
ul .footer-address-tel:hover,
ul .footer-address-link:hover,
ul .footer-address-mail:focus,
ul .footer-address-tel:focus,
ul .footer-address-link:focus{
    color:var(--hover-color);
}
.footer-join-div{
    padding-top: 0px;
}
b{
    color: var(--direction-link-color);
}
.footer-list{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px; 
    margin-bottom: 0;
}
.footer-list-item:not(:last-child){
    margin-right: 10px;
} 

                            /* PORTFOLIO PAGE */
/* MAIN */
/* filter-list */
.filter-btn{
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
background-color: #F5F4FA;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
border-radius: 4px;
border-color: transparent;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--hover-filter-color);
    background-color: var(--hover-color);
}
.portfolio-list-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}
.title-description{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;    
    color: var(--p-text-color); 
}
.additional-description{
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--hover-filter-color);
}
        /* Набор кнопок */
.filter-list{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 0px;
}
.filter-list-item:not(:last-child){
    margin-right: 8px;
}
         /* Портфолио */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 94px;
}
.portfolio-list-item{
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    outline: none;
}
.portfolio-list-item:nth-child(3n){
    margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.portfolio-link{
    display: block;
}
.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-link img{
    margin-bottom: 20px;
}
.portfolio-list-title,
.title-description{
    padding-left: 24px;
}
.title-description{
    margin-top: 4px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

